/* Start coding here  */
.ex-btn {
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 17px;  
  cursor: pointer;
  border: 2px solid; 
}

.ex-btn-default {
  color: black;
  background-color: #eee;
  border-color: #aaa;
}


.ex-btn-warning {
  color: white;
  background-color: crimson;
  border-color: darkgreen;
}

.ex-btn-success {
  color: white;
  background-color: seagreen;
  border-color: green;
}